In [42]:
import cx_Oracle
import pandas as pd  
import numpy as np

In [2]:
con = cx_Oracle.connect('viktor/Password@localhost') 
      
cursor = con.cursor()

In [4]:
dataset = pd.read_csv(r'../incedents.csv')

In [5]:
TMC = dataset["TMC"]
TMC = pd.unique(TMC)

In [6]:
result = {'succes':0,'fail':0}
for el in TMC:
    try:
        cursor.execute("INSERT INTO TMC(TMC) VALUES ({})".format(el))
        result['succes'] += 1
    except:
        result['fail'] += 1
print(result)

{'succes': 0, 'fail': 22}

In [7]:
con.commit()

In [8]:
dataset.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [30]:
Severity = dataset["Severity"]
Severity = pd.unique(Severity)
result = {'succes':0,'fail':0}
for el in Severity:
    try:
        cursor.execute("INSERT INTO severityes(severity) VALUES ({})".format(el))
        result['succes'] += 1
    except:
        result['fail'] += 1
print(result)

{'succes': 0, 'fail': 4}

In [66]:
Severity = dataset[["City",'State','Country']]
result = {'succes':0,'fail':0}
Severity = Severity.drop_duplicates()
Severity.shape
print("unique done result:{}".format(Severity.shape))
Severity = Severity.to_numpy()
for el in Severity:
    try:
        command = "INSERT INTO CITYES(CITY,STATENAME,COUNTRY) VALUES ('{}','{}','{}')".format(el[0],el[1],el[2])
        cursor.execute(command)
        result['succes'] += 1
    except cx_Oracle.DatabaseError as e:
        result['fail'] += 1
print(result)

unique done result:(16893, 3)
{'succes': 3972, 'fail': 12921}

In [67]:
con.commit()

In [113]:
Streets = dataset[["Street","Number","City",'State','Country']]
Streets = Streets.drop_duplicates()
Streets = Streets.to_numpy()



for el in Streets:
    try:
        el[1] = int(el[1])
    except ValueError:
        el[1] = 'NULL'

In [111]:
# INSERT INTO STREETS(STREET,CITY,STREETNUMBER,STATENAME,COUNTRY)
# VALUES ('Brice Rd','Reynoldsburg',NULL,'OH','US');

result = {'succes':0,'fail':0}
for el in Streets:
    try:
        
        command = """INSERT INTO STREETS(STREET,STREETNUMBER,CITY,STATENAME,COUNTRY)
                    VALUES ('{}',{},'{}','{}','{}')""".format(el[0],el[1],el[2],el[3],el[4])
        cursor.execute(command)
        result['succes'] += 1
    except Exception as e:
        result['fail'] += 1
print(result)

{'succes': 289859, 'fail': 355008}

In [114]:
con.commit()

In [165]:
#INSERT INTO INCEDENTS(STREET,TMC,SEVERITY,INFOSOURCE,CITY,COUNTRY,SIDE,STARTTIME,ENDTIME,DISTANCE)
#VALUES ('Brice Rd',241.0,4,'MapQuest','Reynoldsburg','US','R',TIMESTAMP'2016-03-08 05:46:00',
#TIMESTAMP'2016-04-08 11:00:00',0);
Incedents = dataset[["Street",'TMC','Severity',"City",'Country','Side','Start_Time', 'End_Time','Distance(mi)']]
Incedents = Incedents.drop_duplicates()
Incedents = Incedents.to_numpy()

for el in Incedents:
    
    try:
        bof = el[1]
        int(bof)
        el[1] = float(el[1])
    except:
        el[1] = 'NULL'


# for el in Incedents:
#     print(el)

In [166]:
Incedents.shape

(2954837, 9)

In [167]:
result = {'succes':0,'fail':0}
for el in Incedents:
    try:
        
        command = """INSERT INTO INCEDENTS(STREET,TMC,SEVERITY,INFOSOURCE,CITY,COUNTRY,SIDE,STARTTIME,ENDTIME,DISTANCE)
                    VALUES ('{}',{},{},'MapQuest','{}','{}','{}',TIMESTAMP'{}',
                    TIMESTAMP'{}',{})
                    """.format(el[0],el[1],el[2],el[3],el[4],el[5],el[6],el[7],el[8])
        cursor.execute(command)
        result['succes'] += 1
    except Exception as e:
        result['fail'] += 1
print(result)

KeyboardInterrupt:

In [168]:
con.commit()